body {
/*  font: 16px "Droid Sans", sans-serif;
*/
border:0;
padding:0;
margin:0;
background: #201d2d;
}

.main{
      background: #201d2d;
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    width:1100px;
    height:100%;
    margin:0 auto;
}


.planet {
    z-index: 10;
    position: absolute;
    height:100px;
    width:100px;
}

.planet a:hover {
   /* text-decoration: none;*/
    cursor: default;
    z-index: -100;
}


#planet-0 { /* red */
    /*background-color: rgba(255,0,0,0.5);*/
    top:140px;
    left:260px;
    height:190px;
    width:190px;    
}

#planet-0-face { /* red */
    /*background-color: rgba(255,0,0,0.5);*/
    margin-left: 35px;
    margin-top: 60px;
    height:75px;
    width:110px;

    
}

#planet-1-face { /* red */
    /*background-color: rgba(255,0,0,0.5);*/
    margin-left: 35px;
    margin-top: 60px;
    height:75px;
    width:110px;

    
}
#planet-2-face { /* red */
    /*background-color: rgba(255,0,0,0.5);*/
    margin-left: 35px;
    margin-top: 60px;
    height:75px;
    width:110px;

    
}

#planet-3-face { /* red */
    /*background-color: rgba(255,0,0,0.5);*/
    margin-left:10px;
    margin-top: 10px;
    height:75px;
    width:110px;

    
}
.planet-hungry {
    background-image: url('../img/planet-faces.png');
    background-repeat: no-repeat;
    background-position: -225px 0px;   
}

.planet-angry {
    background-image: url('../img/planet-faces.png');
    background-repeat: no-repeat;
    background-position: -0px 0px;   
}

.planet-happy {
    background-image: url('../img/planet-faces.png');
    background-repeat: no-repeat;
    background-position: -110px 0px;   
}

#planet-1 { /* blue */
    /*   background-color: rgba(0,0,255,0.5);*/
    top:555px;
    left:150px;
    height:170px;
    width:170px;
}

#planet-2 { /* green */
  /*     background-color: rgba(0,255,0,0.5);*/
    top:180px;
    left:710px;
    height:240px;
    width:230px;
}

#planet-3 { /* yellow */
   /*    background-color: rgba(255,255,0,0.5);*/
    top:465px;
    left:505px;
    height:130px;
    width:130px;
}


.madeby{
    background-image: url('../img/madeby.png');
    background-repeat: no-repeat;
    width:318px;
    height: 125px;
    position:absolute;
    z-index:50;
    right:0;
    bottom:0;
}



#container-space {
    position:relative;
    width:100%;
    height: 800px;
    z-index: 0;
}


.cupcake {
    z-index: 1000;
    position: absolute;
    height:100px;
    width:100px;
    top: 400px;
    left: 400px;
}

#cupcake-0 {
    -webkit-transform:rotate(120deg);
    background-image: url('../img/SHROOMS.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    height: 159px;
    width:135px;
    top: -400px;
    left: -400px;
}

#cupcake-1 {
    -webkit-transform:rotate(20deg);
    background-image: url('../img/SHROOMS.png');
    background-repeat: no-repeat;
    background-position: -155px -60px;
    height: 100px;
    width:210px;
    top: -200px;
    left: -250px;
}

#cupcake-2 {
    -webkit-transform:rotate(40deg);
    background-image: url('../img/SHROOMS.png');
    background-repeat: no-repeat;
    background-position: -394px -60px;
    height: 100px;
    width:100px;
    top: -200px;
    left: 600px;
}

#cupcake-3 {
    -webkit-transform:rotate(80deg);
    background-image: url('../img/SHROOMS.png');
    background-repeat: no-repeat;
    background-position: -548px -60px;
    height: 100px;
    width:100px;
    top: 300px;
    left: -200px;
}

.start-modal {
    
    width:874px;
    background: none;
    max-height: none;
    z-index: 9999;
    
}
